<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="./tests/Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
    verbose="true">
    <testsuites>
        <testsuite name="web">
			<directory>tests/automation/web</directory>
		</testsuite>
        <testsuite name="mobile">
			<directory>tests/automation/mobile</directory>
		</testsuite>
		<testsuite name="android">
			<directory>tests/automation/mobile/android</directory>
		</testsuite>
        <testsuite name="ios">
			<directory>tests/automation/mobile/ios</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../system/</directory>
		</whitelist>
	</filter>
</phpunit>
